* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.variety nav {
    width: 100%;
    height: 80px;
    background-color:black;
    line-height: 80px;
}
.variety nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s;
}
.variety nav ul li a{
    text-decoration: none;
    color: white;
    padding: 40px;
}
.variety nav ul li a:hover{
    background: rgb(34, 34, 34);
    border-radius: 6px;
}
.title {
    padding-top: 3%;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bold;
}
.container{
    margin-top: 5%;
}
.inner {
     overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
}
.inner:hover img {
    transform: scale(1.5);
}
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}