* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.variety nav {
    width: 100%;
    height: 80px;
    background-color:black;
    line-height: 80px;
}
.variety nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s;
}
.variety nav ul li a{
    text-decoration: none;
    color: white;
    padding: 40px;
}
.variety nav ul li a:hover{
    background: rgb(34, 34, 34);
    border-radius: 6px;
}
.title {
    padding-top: 3%;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bold;
}
.container{
    margin-top: 5%;
}
.inner {
     overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
}
.inner:hover img {
    transform: scale(1.5);
}